@font-face {
    font-family: gilroy;
    src: url("./Gilroy-Medium.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html , body{
    height: 100%;
    width: 100%;
}
nav{
    position: fixed;
    padding: 0 10vw;
    width: 100vw;
    height: 5vw;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.953);
}
#logo{
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-color: yellow; */
}
#nav-menu{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: green; */
}
#nav-menu a{
    color: white;
    font-size: 1.2vw;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

#main{
    overflow: hidden;
}
#page1{
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#page1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://images.unsplash.com/photo-1539367628448-4bc5c9d171c8?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8YmFsaXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=600") 
                center/cover no-repeat;
    filter: blur(20px);
    z-index: -1; /* Keep it behind content */
    transform: scale(1.05); /* avoids white edges from blur */
}

/* Page content stays sharp */
#page1 > * {
    position: relative;
    z-index: 1;
}
#hero{
    width: 100%;
    height: 60%;
    display: flex;
    margin-top:3vw;
    /* background-color: gray; */
}
#hero-left{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: yellow; */
}
#hero-left h1{
    font-size: 6vw;
    line-height: 6vw;
    color: white;
}
#hero-left p{
    color: white;
    font-size: 1.5vw;
}
#hero-left button{
    width: fit-content;
    border-radius: 10px;
    border:none;
    color: white;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 1vw;
    cursor: pointer;
}
#hero-right{
    width: 60%;
    height: 100%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    /* background-color: red; */
    overflow: hidden;
}
#hero-right::-webkit-scrollbar{
    display: none;
}
#scroll-track{
    width: 100%;
    height: 100%;

}
#hero-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page2{
    width: 100vw;
    padding: 0 10vw;
    height: 100vh;
    background-color: green;
}
#testimonial-page{
    width: 100vw;
    height: 100vh;
    padding: 3vw 10vw;
    /* padding-top: 5vw; */
    /* background-color: blue; */
}
#testimonial-page h1{
    text-align: center;
    font-size: 3vw;
    font-weight: 200;
    margin-bottom: 4vw;
}
#reviews{
    padding: 2vw;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: crimson; */
}
#reviews h1{
    text-align: center;
    text-transform: uppercase;
    /* margin:2vw; */
}
#clientrev{
    width: 100%;
    height: 100%;
    padding-top: 1vw;
    padding-bottom: 1vw;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
}
.client{
    width: 25%;
    height: 100%;
    padding: 3vw;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 100px;
    background: transparent;
    border:2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
#gallery-page{
    width: 100vw;
    padding: 3vw 10vw;
    min-height: 100vh;
    /* background-color: rgb(111, 0, 128); */
}

#gallery-page h1{
    text-align: center;
    font-size: 3vw;
    font-weight: 200;
    margin-bottom: 4vw;
}
#main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    flex-wrap: wrap;
}
.box{
    display: inline-block;
    position: relative;
    width: 21vw;
    height: 15vw;
    border-radius: 10px;
    margin: .5vw;
    /* background-color: red; */
    overflow: hidden;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-bottom{
    position: absolute;
    height: 40%;
    bottom: -40%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
    background: linear-gradient(transparent,rgba(0, 0, 0, 0.741));
}
.box-bottom h4{
    font-size: 1.2vw;
    font-weight: 500;
    /* background-color: red; */
}
.box-bottom-icon {
    width: 35%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    /* background-color: green; */
}
.box-bottom-icon i{
    background-color: white;
    font-size: 1.2vw;
    padding: .8vw 0.9vw;
    border-radius: 50%;
    color: black;
    cursor: pointer;
}
.box:hover .box-bottom{
    bottom: 0;
    transition: all ease 0.6s;    
}
.box:hover{
    box-shadow: .2vw .3vw .6vw black;
    transition: all ease 0.6s;
}